<h1>Landmarks#show</h1>
<p>Find me in app/views/landmarks/show.html.erb</p>

<p>Landmark name: <%= @landmark.name %>, cost: <%= number_to_currency(@landmark.cost) %></p>

<%= link_to 'Home', root_path %>


